AIRBYTE_HOST=localhost
AIRBYTE_PORT=8000
AIRBYTE_CONNECTION_ID=tu_id_de_conexion_aqui
AIRBYTE_USERNAME=tu_usuario
AIRBYTE_PASSWORD=tu_password
DBT_PROJECT_DIR=./
DBT_PROFILES_DIR=~/.dbt/
MOTHERDUCK_TOKEN=eyJh... (tu token completo aquí)
PREFECT_API_URL=[http://127.0.0.1:4200/api](http://127.0.0.1:4200/api)